<p [ngStyle]="propriedadesParagrafos">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque saepe dolor amet voluptatum perspiciatis, incidunt sed ad veritatis, similique nulla libero delectus corporis, reiciendis vitae accusamus eum tempore a fuga.
</p>

<div>
  <button (click)="mudarCor('v')">Verde</button>
  <button (click)="mudarCor('r')">Roxo</button>
  <button (click)="mudarCor('a')">Amarelo</button>
</div>

<div>
  <input type="text" [(ngModel)]="propriedadesParagrafos.color">
</div>


